* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  header {
    position: fixed;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    z-index: 1000;
  }
  
  nav {
    background-color: #555;
    color: #fff;
    padding: 0.5rem;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  nav li:hover{
    background-color: red;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem;
  }
  
  main {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    top: 200px;
    height: 900px;
  }
  
  section {
    flex-basis: calc(33.33% - 1rem);
    margin-bottom: 1rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  section h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  section p {
    font-size: 1rem;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }

  .style{
    background-color: rgb(246, 130, 130);
    position: absolute;
    transform: scale(1.7);
    margin: 100px 550px;
    width: 500px;
    min-height: 100px;
    animation: move-up1 1s ease-out forwards;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  .style1{
    background-color: rgb(246, 130, 130);
  }

  @keyframes move-up1 {
    from {
      right: -400px;
    }
    to {
      right: 25px;
    }
  }